Package: com.nguyenvinh.simgpsinapp
Name: SimGPS-InApp
Version: 0.0.1
Architecture: iphoneos-arm
Description: Fake GPS location directly inside iOS apps
Maintainer: Nguyen Vinh
Author: Nguyen Vinh
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
